.Auth-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.Auth-user-name {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

