.Toggle-game-state {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.Input-select-size {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}